<div class="row mt-5 contact">
  <div class="col-5 mb-5">
    <h5>Create Contact Form</h5>
    <form [formGroup]="createForm" (submit)="onSubmit()" >
      <div class="form-row align-items-center">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="FirstName" formControlName="FirstName" aria-describedby="nameHelp">
          <small
            *ngIf="(createForm.get('FirstName').invalid && createForm.get('FirstName').dirty || createForm.get('FirstName').touched) &&
            createForm.get('FirstName').errors?.required" id="nameHelp" class="form-text text-muted">Required
          </small>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Create Contact</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-12">
    <h5>View Contact Details</h5>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="let contact of contactList;let i = index;">
        <th scope="row">{{i}}</th>
        <td>{{contact.name}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
